<div class=" swiper-slide class-prod ">
   <div class="class-prod__desc" id="<%= classi.id_classificado %>">
      <img src="<%= classi.imagens %>" alt="Imagem do produto" draggable="false">
      <span class="pointer"><%= classi.nome_prod %></span>
      <span class="pointer">R$ <%= classi.preco_prod %></span>
      <span class="class-span__orn pointer">R$ <%= classi.preco_prod + (classi.preco_prod * 0.1)  %></span>
   </div>
   <div class="line-center"></div>
   <div class="class-prod__btn">
      <div class="class-prod-btn__qnt">
            <button class="ic--round-minus pointer" onclick="mudaQuantidade('qnt<%= classi.id_classificado %>', -1)"></button>
            <input type="number" id="qnt<%= classi.id_classificado %>" min="0" max="<%= classi.qnt_prod %>" value="0">
            <button class="ic--round-plus pointer" onclick="mudaQuantidade('qnt<%= classi.id_classificado %>', 1)"></button>
      </div>
      <form action="/enviaCarrinho" method="post">
            <input type="hidden" name="idClass" value="<%= classi.id_classificado %>">
            <input type="hidden" name="qntClass" id="hidden-qnt<%= classi.id_classificado %>" value="0">
            <button type="submit" class="btn-comprar">Comprar</button>

      </form>
   </div>
</div>