<%- include("./partials/header.ejs"); %>
<%- include("./partials/navbar.ejs"); %>

<body>
   <section class="principal">
            <section class="section-promo">
               <div class="div-imgs">
                     <div class="div-promo">
                        
                        <a href="" class="img-common "><img class="img-promo" src="../src/bourbon.webp" alt=""></a>
                        <a href="" class="img-common "><img class="img-promo" src="../src/HidroMel.webp" alt=""></a>
                        
                     </div>
                  <a href="" class="img-common"><img class="img-receita" src="../src/negroni.webp" alt=""></a>
               </div>
            </section>

            <section class="section-prod">
               <div class="div-prod swiper ">
                  <span>DE NOSSOS AFILIADOS</span>

                  <div class=" slider-wrapper slider-wrapper__afiliados">

                     <div class="carrossel swiper-wrapper" id="carrossel" data-mouse-down-at="0" data-prev-percentage="0">
                       
                        <% ClassAssociado.forEach((classi)=>{  %>
                        
                           <%- include("./partials/classCard.ejs" , {classi:classi,vetor:"associado"} )%>

                        <% }) %>
                     </div> 

                  </div>
                  <div class="swiper-pagination swiper-pagination__afiliados "></div>
               </div>   
               
               <div class="div-prod swiper ">
                  <span>MAIS VENDIDOS</span>

                  <div class="slider-wrapper slider-wrapper__vendas">

                     <div class="carrossel swiper-wrapper" id="carrossel" data-mouse-down-at="0" data-prev-percentage="0">
                       
                        <% ClassVendas.forEach((classi)=>{  %>
                        
                           <%- include("./partials/classCard.ejs" , {classi:classi,vetor:"vendas"} )%>

                        <% }) %>

                     </div> 

                  </div>
                  <div class="swiper-pagination swiper-pagination__vendas "></div>
               </div>   
               <div class="div-prod swiper ">
                  <span>MAIS VISTOS</span>

                  <div class="slider-wrapper slider-wrapper__vistos">

                     <div class="carrossel swiper-wrapper" id="carrossel" data-mouse-down-at="0" data-prev-percentage="0">
                       
                        <% ClassViews.forEach((classi)=>{  %>
                        
                           <%- include("./partials/classCard.ejs" , {classi:classi,vetor:"views"} )%>

                        <% }) %>

                     </div> 

                  </div>
                  <div class="swiper-pagination swiper-pagination__vistos "></div>
               </div>   
               <div class="div-prod swiper ">
                  <span>ACESSÓRIOS</span>

                  <div class="slider-wrapper slider-wrapper__acessorios">

                     <div class="carrossel swiper-wrapper" id="carrossel" data-mouse-down-at="0" data-prev-percentage="0">
                       
                        <% ClassCateg.forEach((classi)=>{  %>
                        
                           <%- include("./partials/classCard.ejs" , {classi:classi ,vetor:"categ"} )%>

                        <% }) %>

                     </div> 

                  </div>
                  <div class="swiper-pagination swiper-pagination__acessorios"></div>
               </div>   

            </section>
   </section>
</body>

<%- include("./partials/footer.ejs"); %>