<%- include("../partials/header.ejs"); %>
<%- include("../partials/navbar.ejs"); %>
<head>
    
    <link rel="stylesheet" href="style/carrinho.css">
    <link rel="stylesheet" href="style/info.css">
    <link rel="stylesheet" href="style/homeStyle.css">
</head>
<body>
    <section class="principal">
        <span class="ingrid-darling-regular nameLogo spanTamCenter">Carrinho</span>
        <div class="container-carrinho">
        <form action="/comprar" method="post" class="form-items container-carrinho " id="form-geral__items">

            <input type="hidden" name="usuarioId" value="<%= id %>">
            <input type="hidden" name="idCarrinho" value="<%= items.id_carrinho %>">

            <% items.forEach((item)=>{ %>
            
            <div class="div_geral">
            <input type="checkbox" name="idClassificado[]" class="produto-checkbox" value="<%= item.Classificado.id_classificado %>" oninput="TotalPreco()" checked>
            <div class="conteudo_carrinho">
                
                <img class="imagen_classificado" src="<%=item.Classificado.imagens %>" alt="Foto do Classificados">

                <div class="pegaTudo">

                        <div class="spancarrinho">

                            <span id="nomeBebida"><%= item.Classificado.nome_prod %></span>
                            <span id="valorBebida" data-preco="<%= item.Classificado.preco_prod %>">R$ <%=item.Classificado.preco_prod.toFixed(2) %> </span>
                         
                            <input type="hidden" id="hidden-qnt<%= item.id_carrinhoClass%>" value="0">

                        </div>
                    
                    <div class="pegaForm">
               
                       <a href="/removeCarrinho?id_carrinho=<%= item.id_carrinhoClass %>"> <button type="button" class="btnX mdi--remove" onclick="removeItem('<%= item.id_carrinhoClass %>')"></button></a>
  
                        <div class="classificado-btn__qnt">
                            
                            <button class="classificado--round-minus pointer" onclick="mudaQuantidade(event,'qnt<%= item.id_carrinhoClass%>', -1)"></button>
                            <input type="number" name="qntClass[]" id="qnt<%= item.id_carrinhoClass%>" min="1" max=" <%= item.Classificado.qnt_prod%> %>" value="<%= item.quantidade%>" oninput="TotalPreco(this)">
                            <button class="classificado--round-plus pointer" onclick="mudaQuantidade(event,'qnt<%= item.id_carrinhoClass%>', 1)"></button>
                           
                      </div>
                       
                    </div>
                </div>      
            </div>
            </div>
            <% }) %>

    </form>
    </div>
        
   
        <div class="div-form">
            
            <span id="final-price">Valor Total: R$ </span>
            <button type="submit" class="div-form-btn__comprar" form="form-geral__items">Comprar</button>
        
        </div> 

    </section>


</body>

<%- include("../partials/footer.ejs"); %>

<script>
    TotalPreco();
  </script>