<%- include("../partials/header.ejs"); %>
<%- include("../partials/navbar.ejs"); %>
<head>
    <link rel="stylesheet" href="../style/categAdm.css">
    
    
</head>
<body>
    <section class="principal">
        <span class="ingrid-darling-regular nameLogo spanTamCenter">Gerenciamento de Categorias</span>
            <div class="containerCateg">

                <div class="divModal">

                    <button id="icons8--plus"><span id="icons8--plus"></span></button>

                        <div class="conteudoModal" id="conteudoModal">
                            <form action="/cadastrarCateg" method="post" class="formContainer">
                                <span>Cadastrar Categoria</span>
                                <input type="text" id="nomeCateg" name="nomeCateg">

                                <select name="tipoCateg" id="tipoCateg">
                                    <option value="bebida">Bebida</option>
                                    <option value="acessorio">Acessório</option>
                                </select>

                                <button type="submit" class="btnCateg">Cadastrar</button> 
                            </form>
                            <button type="button" class="btnFechar" id="fecharbtn">Fechar</button>
                        </div>

                </div>
            
                <div class="contentBlock">

                <span class="spanTipoCateg" >Bebidas</span>
                <div>

                
                <% categ.filter(categ => categ.tipo_categ == "bebida").forEach((categ) => { %>
            
               
                    <div class="blockCategs">

                        <label for=""><%= categ.nome_categ%></label>

                        <div class="pegaForm">
                           
                               <a href="/removeCateg?id_categ=<%= categ.id_categoria%>"><button type="submit"><span class="mdi--bin"></span></button></a>

                        </div>

                    </div> 
                   
                <% }) %>

                </div>
                
                
                <span class="spanTipoCateg">Acessório</span>
                <div>

                <% categ.filter(categ => categ.tipo_categ == "acessorio").forEach((categ) => { %>
            
               
                    <div class="blockCategs">

                        <label for=""><%= categ.nome_categ%></label>

                        <div class="pegaForm">
                           
                               <a href="/removeCateg?id_categ=<%= categ.id_categoria%>"><button type="submit"><span class="mdi--bin"></span></button></a>
                            
                        </div>

                    </div> 
                   
                <% }) %>
                </div>   

                </div>

            </div>  
    </section>
</body>

<%- include("../partials/footer.ejs"); %>
<%- include("../partials/popUpCateg.ejs"); %> 