<%- include("../partials/header.ejs"); %>
<%- include("../partials/navbar.ejs"); %>
<head>
    <link rel="stylesheet" href="nav_style.css">
    <link rel="stylesheet" href="commom.css">
    <link rel="stylesheet" href="../style/pesquisa.css">
    <link rel="stylesheet" href="../style/lojaAdm.css">
</head>
<body>
    <section class="principal">
        <div class="divPegaTudo">
            <div class="divSpan">
                 <span>Buscando por</span> <span>Lojas</span>
            </div>
             <!--Div dos botões-->
            <div class="divBtns">
                <button id="btnLoja" class="BtnlojaProd active">Lojas</button>
                <div class="linha"></div>
            </div>
                 
                 <!--Div das Lojas-->   
            <div id="lojas" class="contentDiv active">
                <div class="contentBlock">

                    <% resultados.forEach((result, index)=>{ %> 
                    <!--Box Lojas-->
                    <div class="blockLojas">

                        <div class="div-nomeImg">
                            <img src="../src/userImg.png" alt="">
                            <span><%= result.user.nome_user %></span>
                        </div>

                        <div class="pegaForm">
                            <a href="/removeLoja?id_user=<%= result.user.id_user %>">
                                <button type=""><span class="mdi--bin"></span></button>
                            </a>

                            <% if (result.info != null) { %>
                                <form id="formEditarInfo_<%= index %>" action="editarInfo" method="post">
                                    <input type="hidden" name="cpf_cnpj" value="<%= result.user.cpf_cnpj %>">
                                    <input type="hidden" id="hiddenAfiliado_<%= index %>" name="afiliado" value="<%= result.info.afiliado %>">
                                    <input type="checkbox" name="afiliadoCheckbox" id="afiliadoCheckbox_<%= index %>" value="true" <%= result.info.afiliado ? "checked" : "" %>>
                                </form>
                            <% } else { %>
                                <span>Sem infos</span>
                            <% } %>
                        </div>  
                    </div>
                    <% }) %> 
                </div>       
        </div>
    </section>
                        
</body>
<%- include("../partials/footer.ejs"); %>
<%- include("../partials/footerResult.ejs"); %> 
<script>
    function confirmaDeleta(event,form){
      event.preventDefault();
      let decisao = confirm("Confirma Exclusão")  
      if(decisao){
        form.submit();
      }
    }
    document.querySelectorAll('[id^="afiliadoCheckbox_"]').forEach(function(checkbox) {
            checkbox.addEventListener('change', function() {
                let index = this.id.split('_')[1];
                let hiddenField = document.getElementById('hiddenAfiliado_' + index);
                hiddenField.value = this.checked ? 'true' : 'false';
                document.getElementById('formEditarInfo_' + index).submit();
            });
        });
  </script>

