<%- include("../partials/header.ejs"); %>
<%- include("../partials/navbar.ejs"); %>
<head>
    <link rel="stylesheet" href="./style/pageClassificado.css">
</head>
<body>
   <section class="principal">
    <div class="div-geral">
        <div class= "div-geral__classificado">
            <img src="<%= classi.imagens %>" class="img_classi" alt="Foto do Produto">
            <div class="div-geral-classificado__info">
                <div class="nome-cat">
                    <span><%= classi.nome_prod %></span>

                    <span class="categoria"><%= categ.nome_categ %></span>
                </div>
                <span id="precoproduto"> <%= classi.preco_prod %></span>
                
                <div class="div-geral-classificado-info__operacao">
                    <div class="classificado-btn__qnt">
                        <button class="classificado--round-minus pointer" onclick="mudaQuantidade(event,'qntw', -1)"></button>
                        <input type="number" id="qntw" min="1" max="<%= classi.qnt_prod %>" value="1" oninput="atualizaPreco(this)">
                        <button class="classificado--round-plus pointer" onclick="mudaQuantidade(event,'qntw', 1)"></button>
                        
                  </div>
                <a href="/CadFavoritos?id_fav=<%= classi.id_classificado %>">
                     <span class="tabler--heart-filled"></span>
                </a>
                </div>
                
                <div class="div-vendedor">
                    <img src="../src/userImg.png" alt=" foto do vendedor">
                    <span class="vendedor"><%= classi.nome_prod %></span>
                </div>
            </div>
        </div>
        <div class="div-geral__common div-geral__descricao">
            <span class="span_tittle">Descrição</span>
            <span class="span_desc"> <%= classi.desc_prod %> </span>
        </div>
        <div class="div-geral__common div-geral__avaliacoes">
            <span class="span_tittle" >Avaliações</span>
            <div class="div-geral-avaliacoes__avaliacao">
                <img src="../src/userImg.png" alt="Foto do Usuário">
                <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
            </div>

        </div>

        <div class="div-geral__common div-geral__interesses" >
            <span class="span_tittle" >Produtos Interessantes</span>
            <div class="div-geral__common div-geral-interesses__classificados">
               <% interesses.forEach((interesses)=>{ %>
                    <%- include("../partials/classCard.ejs" , {classi:interesses,vetor:"interesses"} )%>
               <% }) %>
            </div>
        </div>
        
    </div>
          
   
   </section>
   
   <div class="div-form">
        
    <span id="final-price">Valor Total: R$ <%= classi.preco_prod %> </span>

    <form action="/enviaCarrinho" method="post">

        <input type="hidden" name="idClass" value="<%= classi.id_classificado %>">
        <input type="hidden" name="qntClass" id="hidden-qntw" value="0">
        <button type="submit" class="div-form-btn__comprar">Comprar</button>

    </form>
</div> 
   <script src="./js/pageClassificado.js"></script>
</body>


<%- include("../partials/footer.ejs"); %>