<%- include("../partials/header.ejs"); %>
<%- include("../partials/navbar.ejs"); %>
<head>
    <link rel="stylesheet" href="./style/pageClassificado.css">
</head>
<body>
   <section class="principal">
    <div class="div-geral">
        <div class= "div-geral__classificado">
            <img src="<%= classi.imagens %>" class="img_classi" alt="Foto do Produto">
            <div class="div-geral-classificado__info">
                <div class="nome-cat">
                    <span><%= classi.nome_prod %></span>

                    <span class="categoria"><%= categ.nome_categ %></span>
                </div>
                <span>R$ <%= classi.preco_prod %></span>
                
                <div class="div-geral-classificado-info__operacao">
                    <div class="classificado-btn__qnt">
                        <button class="classificado--round-minus pointer" onclick="mudaQuantidade('qnt<%= classi.id_classificado %>', -1)"></button>
                        <input type="number" id="qnt<%= classi.id_classificado %>" min="0" max="<%= classi.qnt_prod %>" value="0">
                        <button class="classificado--round-plus pointer" onclick="mudaQuantidade('qnt<%= classi.id_classificado %>', 1)"></button>
                        <input type="hidden" name="idClass" value="<%= classi.id_classificado %>">
                        <input type="hidden" name="qntClass" id="hidden-qnt<%= classi.id_classificado %>" value="0">
                  </div>
                <a href="/favoritos">
                     <span class="tabler--heart-filled"></span>
                </a>
                </div>
                
                <div class="div-vendedor">
                    <img src="../src/userImg.png" alt=" foto do vendedor">
                    <span class="vendedor"><%= classi.nome_prod %></span>
                </div>
            </div>
        </div>
        <div class="div-geral__common div-geral__descricao">
            <span class="span_tittle">Descrição</span>
            <span class="span_desc"> <%= classi.desc_prod %> </span>
        </div>
        <div class="div-geral__common div-geral__avaliacoes">
            <span class="span_tittle" >Avaliações</span>
            <div class="div-geral-avaliacoes__avaliacao">
                <img src="../src/userImg.png" alt="Foto do Usuário">
                <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
            </div>

        </div>

        <div class="div-geral__common div-geral__interesses" >
            <span class="span_tittle" >Produtos Interessantes</span>
            <div class="div-geral-interesses__classificados">
               <% interesses.forEach((interesses)=>{ %>
                    <%- include("../partials/classCard.ejs" , {classi:interesses,vetor:"interesses"} )%>
               <% }) %>
            </div>
        </div>
    </div>        
   </section>

</body>

<%- include("../partials/footer.ejs"); %>