<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <link rel="stylesheet" href="style/favs.css">
  <link rel="stylesheet" href="style/info.css">
  <link rel="stylesheet" href="style/homeStyle.css">
  <link rel="stylesheet" href="style/pedidos.css">
</head>
<body>
  <%- include("../partials/header.ejs"); %>
  <%- include("../partials/navbar.ejs"); %>

  <section class="principal">
    <span class="ingrid-darling-regular nameLogo spanTamCenter">Minhas Compras</span>
    <div class="container-fav">
      <% if (resultados && resultados.length > 0) { %>
        <% resultados.forEach((compras) => { %>
          <div class="conteudo_listProd">
            <img src="<%= compras.fluxo.classificado.imagens %>" class="imagen_classificado" alt="<%= compras.fluxo.classificado.nome_prod %>">
            <div class="pegaTudo">
              <div class="spanProds" id="<%= compras.fluxo.classificado.id_classificado %>">
                <span id="nomeProduto"><%= compras.fluxo.classificado.nome_prod %></span>
                
                <span id="valorProduto">R$ <%= (compras.fluxo.classificado.preco_prod * compras.fluxo.quantidade ).toFixed(2)  %></span>
                <span class="spanQuantidade">Quantidade: <%= compras.fluxo.quantidade %></span>
                
              </div>
              <div class="pegaForm">
                <span>Status: <%= compras.status_compra%></span>
                <% if(compras.status_compra == "pendente" || compras.status_compra == "a caminho"){%>
                  
                   <a href="/entregue?id_compra=<%= compras.id_compras %>"> <button type="submit" class="btnEdit">Entregue</button></a>
                  
                <%} else { %>
                  <div class="content">
                   <button type="submit" class="btnEdit" onclick="openDialog()">Avaliar</button>
                  </div>
                  <dialog class="dialog" id="avaliacaoDialog">
                    <form action="/avaliacao" method="post"> 
                      <ul class="avaliacao"> 
                        <li class="star-icon ativo" data-avaliacao="1"></li> 
                        <li class="star-icon" data-avaliacao="2"></li>
                        <li class="star-icon" data-avaliacao="3"></li>
                        <li class="star-icon" data-avaliacao="4"></li>
                        <li class="star-icon" data-avaliacao="5"></li> 
                      </ul>
                      <label class="lblAvalia">Deixe aqui sua avaliação</label> 
                      <textarea class="txt" id="avaliacaoTxt" name="avaliacaoTexto"></textarea> 
                      <input type="hidden" name="avaliacaoNota" id="avaliacaoNota" value="1">
                      <button type="submit" class="btnAvalia">Enviar</button>
                       <button type="button" onclick="closeDialog()" class="btnFechar">Fechar</button> 
                      </form>
                    </dialog>
                <% } %>
              </div>
            </div>
          </div>
        <% }) %>
      <% } else { %>
        <p>Você não tem Compras.</p>
      <% } %>
    </div>
  </section>
  <%- include("../partials/avaliacao.ejs"); %>
  <%- include("../partials/footer.ejs"); %>
  <script>
    function confirmaDeleta(event, form) {
      event.preventDefault();
      let decisao = confirm("Confirma Exclusão");
      if (decisao) {
        form.submit();
      }
    }
  </script>
</body>
</html>
