<%- include("../partials/header.ejs"); %>
<%- include("../partials/navbar.ejs"); %>
<head>
  <link rel="stylesheet" href="style/favs.css">
  <link rel="stylesheet" href="style/info.css">
  <link rel="stylesheet" href="style/homeStyle.css">
  <link rel="stylesheet" href="style/pedidos.css">
</head>
<body>
  <section class="principal">
    <span class="ingrid-darling-regular nameLogo spanTamCenter">Minhas Compras</span>
    <div class="container-fav">
      <% if (resultados && resultados.length > 0) { %>
        <% resultados.forEach((compras) => { %>
          <div class="conteudo_listProd">
            <img src="<%= compras.fluxo.classificado.imagens %>" class="imagen_classificado" alt="<%= compras.fluxo.classificado.nome_prod %>">
            <div class="pegaTudo">
              <div class="spanProds" id="<%= compras.fluxo.classificado.id_classificado %>">
                <span id="nomeProduto"><%= compras.fluxo.classificado.nome_prod %></span>
                <span id="valorProduto">R$ <%= (compras.fluxo.classificado.preco_prod * compras.fluxo.quantidade ).toFixed(2) %></span>
                <span class="spanQuantidade">Quantidade: <%= compras.fluxo.quantidade %></span>
              </div>
              <div class="pegaForm">
                <span>Status: <%= compras.status_compra %></span>
                <% if(compras.status_compra == "pendente" || compras.status_compra == "a caminho"){ %>
                  <a href="/entregue?id_compra=<%= compras.id_compras %>"><button type="submit" class="btnEdit">Entregue</button></a>
                <% } else { %>
                  <div class="content" id="content">
                    <button type="submit" class="btnEdit" onclick="openDialog('<%= compras.id_compras %>')">Avaliar</button>
                  </div>
                  <dialog class="dialog" id="avaliacaoDialog-<%= compras.id_compras %>">
                    <form action="/avaliacao" method="post"> 
                      <ul class="avaliacao" id="estrelas"> 
                        <li class="star-icon ativo" data-delta="<%= compras.id_compras %>" data-avaliacao="1"></li>
                        <li class="star-icon" data-delta="<%= compras.id_compras %>" data-avaliacao="2"></li>
                        <li class="star-icon" data-delta="<%= compras.id_compras %>" data-avaliacao="3"></li>
                        <li class="star-icon" data-delta="<%= compras.id_compras %>" data-avaliacao="4"></li>
                        <li class="star-icon" data-delta="<%= compras.id_compras %>" data-avaliacao="5"></li>
                      </ul>
                      <label class="lblAvalia">Deixe aqui sua avaliação</label>
                      <textarea class="txt" id="avaliacaoTxt-<%= compras.id_compras %>" name="avaliacaoTxt"></textarea> 
                      <input type="hidden" name="avaliacaoNota" id="avaliacaoNota-<%= compras.id_compras %>" value="1">
                      <input type="hidden" name="idCompra" id="idCompra" value="<%= compras.id_compras %>">
                      <button type="submit" class="btnAvalia">Enviar</button>
                      <button type="button" onclick="closeDialog('<%= compras.id_compras %>')" class="btnFechar">Fechar</button> 
                    </form>
                  </dialog>
                <% } %>
              </div>
            </div>
          </div>
        <% }) %>
      <% } else { %>
        <p>Você não tem Compras.</p>
      <% } %>
    </div>
  </section>
  <%- include("../partials/avaliacao.ejs"); %>
  <%- include("../partials/footer.ejs"); %>
  <script>
    function confirmaDeleta(event, form) {
      event.preventDefault();
      let decisao = confirm("Confirma Exclusão");
      if (decisao) {
        form.submit();
      }
    }
  </script>
  <script>
    function openDialog(delta) {
      document.getElementById("avaliacaoDialog-" + delta).classList.add("show");
    }

    function closeDialog(delta) {
      document.getElementById("