<%- include("../partials/header.ejs"); %>
<%- include("../partials/navbar.ejs"); %>
  <head>
    <link rel="stylesheet" href="style/favs.css">
    <link rel="stylesheet" href="style/info.css">
    <link rel="stylesheet" href="style/homeStyle.css">
    <link rel="stylesheet" href="style/pedidos.css">
  </head>
    
<body>
  

  <section class="principal">
    <span class="ingrid-darling-regular nameLogo spanTamCenter">Minhas Compras</span>
    <div class="container-fav">
      <% if (resultados && resultados.length > 0) { %>
        <% resultados.forEach((compras) => { %>
          <div class="conteudo_listProd">
            <img src="<%= compras.fluxo.classificado.imagens %>" class="imagen_classificado" alt="<%= compras.fluxo.classificado.nome_prod %>">
            <div class="pegaTudo">
              <div class="spanProds" id="<%= compras.fluxo.classificado.id_classificado %>">
                <span id="nomeProduto"><%= compras.fluxo.classificado.nome_prod %></span>
                
                <span id="valorProduto">R$ <%= (compras.fluxo.classificado.preco_prod * compras.fluxo.quantidade ).toFixed(2)  %></span>
                <span class="spanQuantidade">Quantidade: <%= compras.fluxo.quantidade %></span>
                
              </div>
              <div class="pegaForm">
                <% if(compras.status_compra == "pendente"){%>
                  
                  <a href="/entregue?id_compra=<%= compras.id_compras %>"> <button type="submit" class="btnEdit">Entregue</button></a>
                  
                <%} else { %>

                  <a href="/avaliar?id_compra=<%= compras.id_compras %>"> <button type="submit" class="btnEdit">Avaliar</button></a>

                <% } %>
              </div>
            </div>
          </div>
        <% }) %>
      <% } else { %>
        <p>Você não tem Compras.</p>
      <% } %>
    </div>
  </section>

  <%- include("../partials/footer.ejs"); %>
  <script>
    function confirmaDeleta(event, form) {
      event.preventDefault();
      let decisao = confirm("Confirma Exclusão");
      if (decisao) {
        form.submit();
      }
    }
  </script>
</body>
</html>
