<%- include("../partials/header.ejs"); %>
<%- include("../partials/navbar.ejs"); %>
<head>
    <link rel="stylesheet" href="nav_style.css">
    <link rel="stylesheet" href="style/listProds.css">
    <link rel="stylesheet" href="style/info.css">
    <link rel="stylesheet" href="style/homeStyle.css">
    <link rel="stylesheet" href="style/favs.css">
</head>
<body>
    <section class="principal">
        <span class="ingrid-darling-regular nameLogo spanTamCenter">Meus Produtos</span>
            <div class="container-listProd">
                
                <% if(classificado != undefined){ %>
                    <% classificado.forEach((classi)=>{  %>
                    <div class="conteudo_listProd">
                        <img src="<%= classi.imagens %>" alt="Logo da ice">
                            <div class="pegaTudo">
                                <div class="spanProds">
                                    <span id="nomeProduto"><%= classi.nome_prod %></span>
                                    <span id="valorProduto">R$ <%= classi.preco_prod %></span>
                                </div>
                                    <div class="pegaForm">
                                        <form action="/deletaProd" method="get" onsubmit="">
                                            <input type="hidden" name="idProd" id="idProd" value="<%= classi.id_classificado %>">
                                            <button type="" class="ic--baseline-delete"></button>
                                        </form>
                                        <form action="/editaProd" method="post">
                                            <input type="hidden" name="idProd" id="idProd" value="<%= classi.id_classificado %>">
                                            <button type="submit" class="btnEdit">Editar</button>
                                        </form>
                                    </div>
                            </div>
                    </div>
                    <% }) %>
                <% }else{ %>

                <% } %>
            </div>
    </section>
</body>

<%- include("../partials/footer.ejs"); %>