

  <%- include("../partials/header.ejs"); %>
  <%- include("../partials/navbar.ejs"); %>
  
<head>
  <link rel="stylesheet" href="style/favs.css">
  <link rel="stylesheet" href="style/info.css">
  <link rel="stylesheet" href="style/homeStyle.css">
</head>
  <body>

  <section class="principal">
    <span class="ingrid-darling-regular nameLogo spanTamCenter">Favoritos</span>
    <div class="container-fav">
      <% if (favoritos && favoritos.length > 0) { %>
        <% favoritos.forEach((favorito) => { %>
          <div class="conteudo_listProd">
            <img src="<%= favorito.classificado.imagens %>" class="imagen_classificado" alt="<%= favorito.classificado.nome_prod %>">
            <div class="pegaTudo">
              <div class="spanProds" id="<%= favorito.classificado.id_classificado %>">
                <span id="nomeProduto"><%= favorito.classificado.nome_prod %></span>
                <span id="valorProduto">R$ <%= favorito.classificado.preco_prod.toFixed(2) %></span>
              </div>
              <div class="pegaForm">
                <form action="/removeFav" method="post">
                  <input type="hidden" name="idFav" id="idFav" value="<%= favorito.id_Fav %>">
                  <button type="submit" class="btnX mdi--remove"></button>
                </form>
                <form action="/enviaCarrinho" method="post">
                  <input type="hidden" name="qntClass" value="1">
                  <input type="hidden" name="idClass" id="idProd" value="<%= favorito.classificado.id_classificado %>">
                  <button type="submit" class="btnEdit">Comprar</button>
                </form>
              </div>
            </div>
          </div>
        <% }) %>
      <% } else { %>
        <p>Você não tem favoritos.</p>
      <% } %>
    </div>
  </section>

  <%- include("../partials/footer.ejs"); %>
  <script>
    function confirmaDeleta(event, form) {
      event.preventDefault();
      let decisao = confirm("Confirma Exclusão");
      if (decisao) {
        form.submit();
      }
    }
  </script>
</body>
</html>
