<%- include("../partials/header.ejs"); %>
<%- include("../partials/navbar.ejs"); %>
<head>
    <link rel="stylesheet" href="nav_style.css">
    <link rel="stylesheet" href="commom.css">
    <link rel="stylesheet" href="../style/pesquisa.css">
</head>
<body>
    <section class="principal">
        <div class="divPegaTudo">
            <div class="divSpan">
                 <span>Buscando por</span> <span>Produtos</span>
            </div>
             <!--Div dos botões-->
                 <div class="divBtns">
                    <button id="btnProd" class="BtnlojaProd active">Produtos</button>
                    <button id="btnLoja" class="BtnlojaProd ">Lojas</button>
                    <div class="linha"></div>
                 </div>
                 
                 <!--Div das Lojas-->
                <div id="lojas" class="contentDiv">
                    <div class="contentBlock">
                    <% if(usuarios != "") {%>
                        <% usuarios.forEach((user)=>{ %> 
                    <!--Box Lojas-->
                        <div class="blockLojas">
                            <img src="../src/userImg.png" alt="">
                            <label for=""><%= user.nome_user%></label>
                        </div>  
                    
                        <% }) %> 
                        <%} else{%>
                            <p>Nenhum usuario encontrado</p>
                        <% } %>
                    </div>
                </div>
                
                 
                <!--Div dos Produtos-->
            <div id="produtos" class="contentDiv active">
                    <div class="contentBlock">
                    <% if(classificados != "") {%>

                        <% classificados.forEach((classi)=>{ %> 

                        <div class="blockProds">
                            <%- include("../partials/classCard.ejs" , {classi:classi,vetor:"pesquisa"} )%>
                        </div>

                        <% }) %> 

                    <%} else{%>
                        <p>Nenhum Classificado encontrado</p>
                    <% } %>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    
</body>
<%- include("../partials/footer.ejs"); %>
<%- include("../partials/footerResult.ejs"); %> 
