


  <%- include("../partials/header.ejs"); %>
  <%- include("../partials/navbar.ejs"); %>
  <head>
    <link rel="stylesheet" href="style/favs.css">
    <link rel="stylesheet" href="style/info.css">
    <link rel="stylesheet" href="style/homeStyle.css">
    <link rel="stylesheet" href="style/pedidos.css">
  </head>
  <body>
  <section class="principal">
    <span class="ingrid-darling-regular nameLogo spanTamCenter">Minhas Vendas</span>
    <div class="container-fav">
      <% if (resultados && resultados.length > 0) { %>
        <% resultados.forEach((venda) => { %>
          <div class="conteudo_listProd">
            <img src="<%= venda.classificado.imagens %>" class="imagen_classificado" alt="<%= venda.classificado.nome_prod %>">
            <div class="pegaTudo">
              <div class="spanVenda" id="<%= venda.compra.id_compras %>">
                <span id="nomeProduto"><%= venda.classificado.nome_prod %></span>
                
                <span id="valorProduto">R$ <%= (venda.classificado.preco_prod * venda.fluxo.quantidade ).toFixed(2)  %></span>
                <span class="spanQuantidade">Quantidade: <%= venda.fluxo.quantidade %></span>
                
              </div>
              <div class="pegaForm">
                <span>Status:<%= venda.compra.status_compra %></span>
                  <% if(venda.compra.status_compra == "pendente"){%>
                  
                    <a href="/confirmaEnvio?id_compra=<%= venda.compra.id_compras %>">  <button type="submit" class="btnEdit">Enviado</button> </a>
                 
                  <%} else { %>
                    
                <% } %>
                

              </div>
            </div>
          </div>

        <% }) %>
      <% } else { %>
        <p>Você não tem Vendas.</p>
      <% } %>
    </div>
  </section>

  <%- include("../partials/footer.ejs"); %>
  <script>
    function confirmaDeleta(event, form) {
      event.preventDefault();
      let decisao = confirm("Confirma Exclusão");
      if (decisao) {
        form.submit();
      }
    }
  </script>
</body>
</html>
